Colloquium
Materials
Programs
lesson03
lesson04
lesson05
lesson06
lesson07
lesson08
lesson09
lesson10
lesson11
lesson12
lesson13
lesson14
lesson15
lesson16
lesson17
lesson18
lesson19
lesson20
lesson21
lesson22
lesson23
lesson24
kursovaya
exam
tasks
lab1.md
lab2.md
lab3.md
lab4.md
lab5.md
lab6.md
lab7.md
lab8.md
.vscode
*.pptx
*.out